<template>
	<div class="editor-wrapper container">
    <list></list>
    <editor></editor>
	</div>
</template>

<script>
  import list from './list'
  import editor from './editor'

  export default {
    beforeRouteEnter: (to, from, next) => {
      next(vm => {
        if(vm.$store.state.isAdmin == false){
          next('/')
        }else{
          next()
        }
      })
    },
    components:{
      list,editor
    }
  }
</script>

<style lang="css" scoped>
	.editor-wrapper{
		padding-top: 70px;
	}
</style>