<template>
  <div class="row">
    <div class="col-md-12">    
      <div class="title form-group">
        <label for="title" class="control-label"><i class="fa fa-plus"></i>编辑文章</label>
        <button class="btn btn-clean" @click="saveArticle" :disabled="ArticleChange">保存</button>
        <button class="btn btn-clean" @click="cleanContent">新建</button>
        <input type="text" placeholder="文章标题" class="form-control" v-model="articleTitle">
        <input type="text" placeholder="文章描述" class="form-control" v-model="articleDesp"style="margin-top: 16px;">
      </div>
       <textarea id="editor" ></textarea>
    </div>
  </div>
</template>

<script>
  import Simplemde from 'simplemde'
  import css from 'static/css/simplemde.min.css'
  import marked from 'static/js/marked.js'
  import { mapGetters } from 'vuex'
  let simplemde;
  export default {
    data () {
      return {
        articleList:[],
        articleTitle: '',
        articleContent: '',
        articleState:'',
        articleId:'',
        articleDesp:'',
        ArticleChange:true,
        ChangeFlag:false
      };
    },
    computed: {
      ...mapGetters([
        'currentArticle',
        'allPage',
        'curPage'
      ]),
    },
    created() {
      this.articleList = this.currentArticle
    },
    mounted() {
      this.$nextTick(() => {
        this.articleTitle = this.currentArticle.title;
        this.articleContent = this.currentArticle.content;
        this.articleState = this.currentArticle.state;
        this.articleId = this.currentArticle.id;
        this.articleDesp = this.currentArticle.description;
        simplemde.value(this.currentArticle.content);
      })

      simplemde = new Simplemde({
        autoDownloadFontAwesome: false,
        element: document.getElementById("editor"),
        spellChecker: false,
        previewRender: function(plainText) {
          return marked(plainText); // Returns HTML from a custom parser
        },
      });
      let value = simplemde.value();
      simplemde.codemirror.on("change",() => {
        let value = simplemde.value();
        this.articleContent = value
      })
    },
    methods:{
      saveArticle(){
        const date = new Date(Date.now())
        let article = {
          date:date,
          id:this.currentArticle._id,
          title:this.articleTitle,
          content:this.articleContent,
          description:this.articleDesp,
          state: this.currentArticle.state || 1
        }
        this.$store.dispatch('saveArticle',article).then((res) => {
          this.$message({
            message: res.data.msg,
            type: res.data.type
          });
          if(res.data.type == 'success'){
            this.$store.commit('SET_CURRENT_ARTICLE',article)
            // let Len = this.$store.state.articleList.length*this.allPage,
            //     page = this.allPage
            // if(Len % 4 == 0){
            //   page += 1;
            //   this.$store.commit('SET_ALL_PAGE',page)
            // }
            // this.$store.commit('SET_CUR_PAGE',page)
            setTimeout(() => {
              window.location = '/admin'
            },1000)
          }
        })
      },
      //第5条 allpage 1   增加后allpage 2
      // 9            2                 3
      cleanContent(){
        this.articleTitle = ''
        this.articleDesp = ''
        this.$store.commit('CLEAN_CURRENTARTICLE')
        simplemde.value('')
      },
    },
    watch:{
      currentArticle(val,oldVal) {
        // 监听vuex current变化改变组件data
        this.articleTitle = val.title;
        this.articleContent = val.content;
        this.articleId = val.id;
        this.articleDesp = val.description;
        simplemde.value(this.articleContent);
      },
      articleContent(val,oldVal) {
        if(oldVal == '')
          this.ArticleChange = true
        else if(oldVal !== '' && oldVal !== val && val !== this.currentArticle.content){
          this.ArticleChange = false
        }
      },
      articleTitle(val,oldVal) {
        if(val !== '' && val !== this.currentArticle.title){
          this.ArticleChange = false
        }
      },
      articleDesp(val,oldVal) {
        if(val !== this.currentArticle.description){
          this.ArticleChange = false
        }
      }
    }
  };
</script>

<style lang="css" scoped>
  .title,.list-title{
    margin-top: 20px;
  }
  .btn{
    color: #fff;
    background-color:#a1b8ce;
    height: 30px;
    padding-top: 4px;
  }
  .btn:hover {
    color: #000;
  }
  .btn-clean{
    float: right;
    margin-bottom: 4px;
    margin-left: 4px;
  }
</style>