<template>
	<div class="row">
    <div class="col-md-12">
      <p class="list-title"><i class="fa fa-plus"></i>文章列表:</p>
      <Loading :showLoading="!articleList.length"></Loading>
      <ul class="articles">
        <li class="article_item" v-for="(article,index) in articleList" :class="{isCurrentArticle:currentArticle._id == article._id}">
          <h3 class="article_title">{{article.title}}</h3>
          <button class="btn editArticle" @click="editDetail(index)">编辑</button>
          <button class="btn" @click="deleteArticle(index)">删除</button>
          <button class="btn" @click="publishArticle(index)" v-if="article.state == 1">发布</button>
          <div class="article_info">
            <p class="article_tags"><i class="fa fa-tags"></i>&nbsp;tags</p>
            <p class="article_created_time"><i class="fa fa-calendar"></i>&nbsp;{{article.date|formatTime}}</p>
            <p class="article_punished">{{article.state|formatState}}</p>
          </div>      
        </li>
      </ul>
      <pagination :curPage='curPage' :allPage='allPage' @changePage='changePage' ></pagination>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Pagination from 'components/common/Pagination'
  import Loading from 'components/common/loading'
	export default {
    components: {
      Pagination,
      Loading
    },
	  data () {
	    return {
	    	articleList:[],
	    	articleTitle:''
	    }
	  },
    created() {
    	// this.getArticleList()
      // this.$store.commit('SET_CUR_PAGE',1)
      if(this.articleLists.length){
        this.articleList = this.articleLists.slice()
        return
      }
      this.getArticleList()
	  },
    methods:{
    	getArticleList(){
        let query = {
          limit:4,
          page:this.curPage
        }
    		this.$http.post('api/getArticleList',query).then(res => {
        	this.articleList = res.data.doc
          this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[0])
          this.$store.commit('SET_ALL_PAGE',res.data.allPage)
          this.$store.commit('SET_CUR_PAGE',this.curPage)
        })
    	},
      editDetail(index){
        this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[index])
        this.articleTitle = this.currentArticle.title
      },
      deleteArticle(index){
      	this.$confirm('此操作将永久删除该文章, 是否继续?', '提示', {
        	confirmButtonText: '确定',
        	cancelButtonText: '取消',
        	type: 'warning'
      	}).then(() => {
          this.$store.dispatch('deleteArticle',{id:this.articleList[index]._id}).then(() =>{
	      		this.getArticleList()
            this.$store.commit('SET_CUR_PAGE',1)
	      	})
      	}).catch(() =>{
	        this.$message({
	          type: 'info',
	          message: '取消删除'
	        });
      	})
      },
      publishArticle(index){
        this.$store.dispatch('publishArticle',this.articleList[index])
      },
      changePage(cur) {
        let query = {
          limit:4,
          page:cur
        }
        this.$http.post('api/getArticleList',query).then((res) => {
          this.articleList = res.data.doc
          this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[0])
          this.$store.commit('SET_ALL_PAGE',res.data.allPage)
          this.$store.commit('SET_CUR_PAGE',query.page)
          this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[0])
        })
      }
    },
    computed: {
      ...mapGetters([
        'currentArticle',
        'allPage',
        'curPage',
        'articleLists'
      ])
    },
    filters:{
    	formatState(value){
    		if(value == -1){
    			return "已发布"
    		}else{
    			return "未发布"
    		}
    	}
    }
	};
</script>

<style lang="css" scoped>
  li{
    list-style: none;
  }
  .list-title{
    font-weight: 700;
  }
  .articles{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-top: 6px;
    padding-left: 0px;
  }
  .article_item{
    border-bottom: 1px solid #ccc;
    position:relative;
    width:100%;
    height: 90px;
    padding:6px 10px 10px 20px;
  }
  .isCurrentArticle{
    padding-left: 12px;
    border-left:8px solid #a1b8ce;
    border-radius: 3px;
  }
  .article_item:last-child{
    border-bottom: none;
  }
  .article_title{
    width: calc(100% - 50px);
    line-height: 28px;
    max-height: 30px;
  	text-overflow: ellipsis;
  	overflow: hidden;
  }
  .article_tags{
    position: absolute;
    top:36px;
    right: 10px;
  }
  .article_created_time{
    position: absolute;
    top:60px;
    right: 10px;
  }
  .article_punished{
    position: absolute;
    top:10px;
    right: 10px;
    color: #07566f;
  }
  .row h3{
    font-size: 18px;
    margin-top: 4px;
  }
  .row p{
    margin-bottom: 0;
  }
  .btn{
    color: #fff;
    background-color:#a1b8ce;
    height: 30px;
    padding-top: 4px;
  }
  .btn:hover {
    color: #000;
  }
</style>