<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <div role="form" class="form-horizontal">
            <div class="form-group">
              <legend class="text-center">登录</legend>
              <div class="col-md-10 col-md-offset-1">
                <label for="text" class="control-label">用户名：</label>
                <input type="text" class="input form-control" placeholder="请输入用户名" v-model.trim="name" @keyup.enter="Login">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                <label for="password" class="control-label">密码：</label>
                <input type="password" class="input form-control" placeholder="请输入密码" v-model.trim="password" @keyup.enter="Login">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                <p class="info text-center">{{info}}</p>
                <button type="submit" class="btn btn-primary btn-block" @click="Login">登录</button>
                <p class="forgotpwd text-center"><a href="javascript:">忘记密码?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import md5 from 'md5'
  import { mapState } from 'vuex'
  export default{
    beforeRouteEnter: (to, from, next) => {
      const fromPath = from.path
        next(vm => {
          if(vm.$store.state.isLogin == true){
          next({ path: fromPath })
        }else{
          next()
        }
      })
    },
    data(){
        return{
          info:'请填写相关信息',
          name : '',
          password : '',
        }
    },
    computed: {
      ...mapState([
        'currentArticle',
        'isLogin',
        'user'
      ]),
    },
    methods:{
      Login(){
        const user = {
          name: this.name.trim(),
          password: md5(this.password.trim())
        }
        // this.$http.post('/api/login',user).then(res => {
        //   console.log(res)
        // })

        // $.ajax({
        //   type: 'POST',
        //   url: '/api/login',
        //   data: user,
        //   success: function(res){
        //     console.log(res)
        //   },
        // });
        this.$store.dispatch('login',user).then(res => {
          console.log(res)
          this.info = res.data.msg
          if(res.data.state == 3 && this.user.name == 'admin'){
            this.$store.commit('ISADMIN')
            setTimeout(function(){
              window.location = '/admin'
            },1000)
          }else if(res.data.state == 3 && this.user.name !== 'admin'){
            setTimeout(() => {
              window.location = '/'
            },1000)
          }
        })
      },
    },
  }
</script>

<style scoped>
  .row{
     margin: 100px 0px ;
  }
  .forgotpwd{
    margin-top: 15px;
    margin-bottom: -15px;
  }
  .havaAccount{
    margin: 15px 0 5px 0;
  }
</style>