<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <div class="form-horizontal">
            <div class="form-group">
              <legend class="text-center">注册</legend>
              <div class="col-md-10 col-md-offset-1">
                <label for="text" class="control-label">用户名：</label>
                <input type="text" class="form-control" placeholder="请输入用户名" v-model.trim="name" @keyup.enter="signUp()">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                <label for="password" class="control-label">密码：</label>
                <input type="password" class="form-control" placeholder="请输入密码" v-model.trim="password" @keyup.enter="signUp()">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
              <label for="password" class="control-control" >再次输入密码：</label>
              <input type="password" class="form-control" placeholder="再次输入密码" v-model.trim="passwordRepeat" @keyup.enter="signUp()" v-show="showPwdRep">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                <p v-show="showPwdRep" class="info text-center">{{info}}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-1">
                <button type="submit" class="btn btn-primary btn-block" @click="signUp">注册</button>
                <p class="havaAccount text-center"><router-link to="/login">已有帐户?点击登录</router-link></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import md5 from 'md5'
  export default{
    data(){
      return {
        info:'请填写相关信息',
        name : '',
        password : '',
        passwordRepeat:'',
        showPwdRep:true
      }
    },
    methods:{
      signUp() {
        let user = { 
          name : this.name.trim(),
          password : md5(this.password.trim()),
          password_Re: md5(this.passwordRepeat.trim())
        }
        this.$store.dispatch('signUp',user).then((res) => {
          this.info = res.data.msg
          if(res.data.state == 4){
            setTimeout(() => {
              this.$router.push('/login')
            },1000)
          }
       })
      }
    }
  }
</script>

<style scoped>
  .row{
    margin: 100px 0px ;
  }
  .info{
    margin-bottom: -5px;
  }
  .havaAccount{
    margin: 15px 0 5px 0;
  }
</style>