<template>
	<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">{{article.title}}</h3>
        <p class="date text-center">
          <span>作者：admin | 日期：{{article.date|formatTime}}</span>
          <span v-if="article.edit_time"> | 修改日期: {{article.edit_time|formatTime}}</span>
        </p>
        <Loading :showLoading="showLoading"/>
        <div v-show="!showLoading" v-html="article.content"></div>
      </div>
    </div>
	</div>
</template>

<script>
  import marked from 'static/js/marked.js'
  import Loading from 'components/common/loading'
  export default {
    components: {
      Loading
    },
    data () {
      return {
        article:{},
        showLoading:true,
      }
    },
    mounted() {
      this.$http.get('api/getArticle',{params:this.$route.query.id})
        .then(res => {
          this.showLoading = false
          this.article = res.data
          this.article.content =  marked(res.data.content)
        })
    },
  }
</script>

<style lang="css" scoped>
 .container{
  padding-top: 50px;
  width: 100%;
 }
 .date {
   color:#989898;
 }
 .article_title{
  font-size: 22px;
 }
 @import '../../../static/css/img.css'
</style>