<template>
  <div class="main">
    <div class="jumbotron">
      <h2 class="text-center">The best is yet to come</h2>
      <h4 class="text-center">https://yeojongki.cn</h4>
    </div>
    <div class="container">
      <Loading :showLoading="showLoading"/>
      <div class="row" v-for="(article,index) in articleList" v-if="article.state == -1">
        <div class="col-md-10 col-md-offset-1">
          <div class="text-center">
            <div class="media-body " :class="{'border':index !== articleList.length-1}">
              <h6 class="media-heading" @click="setCurrentArticle(index)">
                <router-link :to="{name:'article',query:{id:article._id}}" class="text-center" >{{article.title}}</router-link>
              </h6>
              <div class="description" v-if="article.description">
                <span class="descp">{{article.description}}</span>
              </div>
              <div class="extra">
                <router-link to="javascript:">
                  <div class="label">
                    <i class="fa fa-tags"></i>label 1
                  </div>
                </router-link>
                <router-link to="javascript:">
                  <div class="label">
                    <i class="fa fa-tags"></i>label 2
                  </div>
                </router-link> 
                <div class="info">
                  <i class="fa fa-user-circle"></i>admin
                  <i class="fa fa-calendar"></i>{{article.date|formatTime}}
                  <i class="fa fa-eye"></i>readed
                  <router-link :to="{name:'article',query:{id:article._id}}" class="readmore">More 
                    <i class="fa fa-angle-right"></i>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination :curPage='curPage' :allPage='allPage' @changePage='changePage' ></pagination>
  </div>
</template>

<script>
  import { mapActions,mapGetters } from 'vuex'
  import Pagination from 'components/common/Pagination'
  import Loading from 'components/common/loading'
  export default {
    components: {
      Pagination,
      Loading
    },
    data() {
      return {
        showLoading:true,
        articleList:[]
      }
    },
    created(){
      if(this.articleLists.length){
        this.articleList = this.articleLists.slice()
        return
      }
      let query = {
        limit:4,
        page:1
      }
      this.getArticleList(query).then(res => {
        this.articleList = res.data.doc
        this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[0])
      })
    },
    methods:{
      ...mapActions([
        'getArticleList' 
      ]),
      setCurrentArticle(index){
        this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[index])
      },
      changePage(cur) {
        let query = {
          limit:4,
          page:cur
        }
        this.getArticleList(query).then((res) => {
          this.articleList = res.data.doc
          this.$store.commit('SET_CURRENT_ARTICLE',this.articleList[0])
        })
      }
    },
    computed: {
      ...mapGetters([
        'allPage',
        'curPage',
        'articleLists'
      ])
    },
    watch:{
      articleList(val, old) {
        if(val.length) {
          this.showLoading = false
        }else {
          this.showLoading = true
        }
      }
    }
  }
</script>

<style lang="css" scoped>
  a {
    text-decoration: none;
  }
  .jumbotron {
    background-color: #a1b8ce;
    color:#fff;
    margin-bottom: 0;
  }
  .media-body {
    margin: 0;
    padding: 18px 0;
  }
  .border {
    border-bottom: 1px solid rgba(34,36,38,.15);
  }
  .media-left {
    padding-right: 10px;
  }
  .media-heading {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .description {
    margin: 10px 0;
    font-size: 20px;
    line-height: 20px;
    color: #7f8c8d;
  }
  .label {
    display: inline-block;
    background-color: #e8e8e8;
    padding: 6px 8px;
    color: rgba(0,0,0,.6);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .info {
    margin-top: 6px;
    color: #95a5a6;
  }
  .info i {
    margin-right: 2px;
  } 
  .readmore {
    margin-left: 6px;
  }

</style>