<template>
  <button v-show="scrolled" class="backTop" @click="backTop"><i class="fa fa-chevron-up fa-x"></i></button>
</template>

<script>
export default {
  props: {
    scrolled:{
      type:Boolean,
      default:false
    }
  },
  mounted(){
    window.addEventListener('scroll', this.handleScroll)
  },
  destroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods:{
    handleScroll () {
      let height = Math.ceil(window.screen.height / 2)
      let scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
      if(scrollTop > height){
        this.scrolled = true
      }else{
        this.scrolled = false
      }
    },
    backTop(){
      $('html').animate({ scrollTop: 0 }, 300)
      // (function smoothscroll(){
          // var currentScroll = document.documentElement.scrollTop || document.body.scrollTop
          // if (currentScroll > 0) {  
          //   // window.requestAnimationFrame(smoothscroll)
          //   window.scrollTo (0,currentScroll - (currentScroll/5))
          // }  
      // })()
    }
  }
};
</script>

<style lang="less" scoped>
  .backTop{
    background: hsla(0,0%,100%,.8);
    color:#a1adbb;
    outline: none;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    right: 5%;
    bottom: 7%;
  }
</style>
