<template>
	<div >
    <div class="copyright">
      <span>Copyright © yeojongki 2017 
        <router-link to='/login' v-if="checkUser()">·站长登录</router-link>
        <router-link to='/admin' v-if="checkAdmin()">·后台管理</router-link>
        <a href="http://www.miitbeian.gov.cn" class="beian">粤ICP备17066228号</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44020402000191" class="beian" style="display: inline-block"><img src="https://yeojongki.cn/beian.png" alt="beian">粤公网安备 44020402000191号</a>
      </span>
    </div>
	</div>
</template>

<script>
  export default {
    methods:{
      checkUser(){
        if(this.$store.state.user.name !== 'admin'){
          return false
        }
      },
      checkAdmin(){
        if(this.$store.state.user.name == 'admin'){
          return true
        }else{
          return false
        }
      }
    }
  }
</script>

<style lang="css" scoped>
 *{
 	font-family: "微软雅黑"
 }
 a,.copyright{
  font-size: 12px;
  width: 100%;
  color: #AAAAAA;
  text-align: center;
  text-decoration: none;
 }
 .copyright a:hover {
  color:#6fa4d4;
 }
 .beian{
  margin: 0
 }
 .beian img{
  margin-bottom: 3px;
  width: 16px;
  height: 16px;
 }
</style>