<template>
  <div class="loading" v-if="showLoading">
		<span class="left"></span>
    <span class="middle"></span>
    <span class="right"></span>
	</div>
</template>

<script>
export default {
  props: {
    showLoading: {
      type:Boolean,
      default: false
    }
  }
};
</script>

<style lang="less" scoped>
@yellow: #fffe00;
@blue: #5b7492;
@gray: #acb9c8;
.loading {
  width: 25%;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: @blue;
    transform: translate(-50%, 0);
  }
  .left {
    background: @yellow;
    animation: lMove 2.5s ease infinite;
  }
  .middle {
    left: 50%;
    animation: mMove 2.5s ease infinite;
  }
  .right {
    left: 100%;
    background: @gray;
    animation: rMove 2.5s ease infinite;
  }
}
@keyframes lMove {
  0% {
    left: 0;
  }
  25% {
    left: 50%;
    background: @yellow;
  }
  50% {
    left: 100%;
    background: @blue;
  }
  75% {
    left: 50%;
    background: @gray;
  }
  100% {
    left: 0;
  }
}
@keyframes mMove {
  0% {
  }
  25% {
    background: @blue;
  }
  50% {
    background: @yellow;
  }
  75% {
    background: @blue;
  }
  100% {
  }
}
@keyframes rMove {
  0% {
    left: 100%;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 0;
    background: @gray;
  }
  75% {
    left: 50%;
    background: @yellow;
  }
  100% {
    left: 100%;
  }
}
</style>
