<template>
	<div >
    <nav class="topnav navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/">Yeojongki</a> -->
          <router-link class="navbar-brand" to='/'>Yeojongki</router-link>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><router-link to='javascript:'>Home</router-link></li>
            <li><router-link to='javascript:'>About Me</router-link></li>
            <li><router-link to='javascript:'>Message board</router-link></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" v-show="!isLogin">
            <li><router-link to='signUp'>Signup</router-link></li>
            <li><router-link to='login'>Login</router-link></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" v-show="isLogin">
            <li class="right-login">
              <router-link to='javascript:' class="hello">Hello：{{username}}
                <button class="btn btn-exit" @click="logOut">退出</button>
              </router-link>
            </li> 
          </ul>
        </div>
      </div>
    </nav>
	</div>
</template>

<script>
  export default {
    data () {
      return {
        isLogin:false,
        username:''
      }
    },
    created(){
      const user = localStorage.getItem('yeojongki-blog-user')
      if(user){
        this.isLogin = true
        this.$store.commit('SET_USER',{name: user, password: ''})
        this.username = this.$store.state.user.name
        this.$store.commit('ISLOGIN')
        if(user == 'admin'){
          this.$store.commit('ISADMIN')
        }
      }
    },
    methods:{
      logOut(){
        this.isLogin = false
        localStorage.removeItem('userName')
        this.$store.commit('SET_USER',{name: '', password: ''})
        this.$store.commit('ISLOGIN')
        this.$store.commit('ISADMIN')
      }
    },
  }
</script>

<style lang="css" scoped>
  a,h3{
  color: #fff;
  }
  .right-login{
    height: 50px;
    margin-top: -4px;
  }
  .right-login button{
    margin-left: 8px;
  }
  .icon-bar{
    background-color: #fff;
    height:3px;
  }
  .topnav{
    background-color: #a1b8ce;
  }
  .nav > li > a:hover,
  .nav > li > a:focus{
    background-color: #a1b8ce;
  }
  .nav:not(:last-child)>li>a:hover{
    color: black;
  }
  .hello{
    height: 50px;
  }
  .btn-exit{
    padding-top: 4px;
    height: 30px;
    background-color: #6fa4d4;
    border:none;
  }
  .btn-exit:hover{
    color: #000;
  }
</style>