<template>
  <div id="app">
    <navbar></navbar>
    <div class="wrap">
      <transition name="fade">
        <router-view class="main"></router-view>
      </transition>
    </div>
    <myfooter class="footer"></myfooter>
    <backTop/>
  </div>
</template>

<script>
  import navbar from 'components/common/navbar.vue'
  import myfooter from 'components/common/footer.vue'
  import backTop from 'components/common/backTop.vue'
  import marked from 'static/js/marked.js'
  export default {
    name: 'app',
    components:{
    	navbar,
      myfooter,
      backTop
    }
  }
</script>

<style lang="css" scoped>
  #app{
    height: 100%;
  }
  .wrap{
    height: auto;
    min-height: 100%;
    padding-bottom: 30px;
  }
  .main{
    margin-top: -50px;
    padding-bottom: 30px;
  }
  .footer{
    position: relative;
    margin-top: -42px;
    height:42px;
    clear: both;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
@import "../static/css/hljs.css"
</style>
